{% extends 'base.html' %}
{% load static %}

{% block title %}{{ item }}{% endblock %}

{% block content %}
    <center class="row">
        <h1><i class="font_color">{{ item.subject }}</i></h1>
        <hr>
    </center>

    <div class="row">
        <div class="col-md-8 col-md-offset-2 font_color">
            <div class="card">
                <center><b></b></center>
                <br>
                Subject: {{ item.subject }}
                <hr>
                Description: {{ item.description }}
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        date_created: {{ item.date_created }}
                    </div>
                    last date_updated: {{ item.date_updated }}
                </div>
                <br>

                <i class="material-icons nav-icon"
                   style="font-size: 25px; {% if item.status == '1' %}color: #041C32; {% endif %}">cancel</i>
                <i class="material-icons nav-icon"
                   style="font-size: 25px; {% if item.status == '2' %}color: black; {% endif %}">timelapse</i>
                <i class="material-icons nav-icon"
                   style="font-size: 25px; {% if item.status == '3' %}color: black; {% endif %}">check_circle</i>
                <br>
                <form action="/del/{{ item.pk }}/" method="POST" style=" padding-right: 4%; padding-bottom: 3%;">
                    {% csrf_token %}
                    <button value="remove" type="submit" class="btn font_color remove_button"
                    ><span
                            class="glyphicon glyphicon-trash font_color"></span> &nbsp; remove
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
